
* {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
}

body {
    background: #FFFFFF;
    display: flex;
    height: 100vh;
    font-family: Arial, sans-serif;
    overflow-y: hidden;
}
.logo-image{
   height: 80px;
}
.logo{
    display: flex;
    align-items: center;
    justify-content: center;
}

.hidden {
    display: none;

}
/* Container Principal */
.container {
    display: flex;
    height: 100vh;
}

/* Sidebar */
.sidebar {
    width: 450px; /* Réduit la largeur */
    background-color: #0b2943;
    color: #ffffff;
    padding: 20px; /* Réduit le padding pour plus de place */
    display: flex;
    flex-direction: column;
    gap: 10px; /* Contrôle l'espacement entre le logo et le formulaire */
    box-shadow: 3px 0 15px rgba(0, 0, 0, 0.2);

    /* Gestion du défilement */
    height: 100vh; /* Prend toute la hauteur de la fenêtre */
    overflow-y: auto; /* Active le défilement vertical */
    scrollbar-width: none; /* Masque la barre de défilement sur Firefox */
}

/* Logo */
.logo {
    display: flex;
    align-items: center;
    font-size: 24px;
    margin-bottom: 10px; /* Réduit l'espace sous le logo */
}

/*Design pour la popup*/
.popup-container{
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    width: 200px;
    height: 250px;
    
   
}
.popup-container img {
    position: relative;
    left: -10.3%;
    height: 60%;
    top: -10%;
    width: 248px;
    border-radius: 5px;
    margin-bottom: 5px;
}
.popup-content h1{
    position: relative;
    top: -20%;
    font-size: 20px;
    padding-bottom: 5px;
   
}
.popup-rating{
   height: 20px;
   position: relative;
   top: -22%;
   color: #2980b9;
}
.popup-description{
    display: flex;
    flex-wrap: wrap;
    position: relative;
    top: -32%;
    height: 80px;
    width: 105%;
    overflow-y: scroll;
    scrollbar-width: none;
    border-radius: 5px;
}
.popup-description:hover{
    overflow-y: scroll;
    scrollbar-width: thin;
}
.rating {
    display: flex;
    align-items: center;
    font-size: 0.9rem;
    color: #FFD700; /* Couleur des étoiles */
}

.stars {
    margin-right: 5px;
}

.review-count {
    color: #666;
    font-size: 0.8rem;
}

.site-type {
    font-size: 0.9rem;
    color: #555;
}

.status {
    font-size: 0.85rem;
    color: #28a745; /* Couleur du texte "Open" */
}

.status-open {
    font-weight: bold;
}

.popupActions {
    display: flex;
    justify-content: space-around;
    padding: 5px 0;
    border-top: 1px solid #e0e0e0;
}


.toolTipHtml{
    font-size: 10px;
    color: #333;
    font-family: 'Times New Roman', Times, serif;
}

.my-custom-tooltip {
    background-color: transparent !important;
    border: none !important;
    box-shadow: none !important;
    color: black;
    font-size: 12px;
    margin-left: 15px !important;
}

/* Formulaire de la Sidebar */
.sidebar-form form {
    display: flex;
    flex-direction: column;
}

.form__row {
    margin-bottom: 15px; /* Réduit l'espacement vertical entre les champs */
}

/* Styles supplémentaires pour le formulaire */
.form__label {
    font-size: 0.8em; /* Taille de texte réduite pour les labels */
    color: #85c1e9;
    margin-bottom: 5px;
    display: flex;
    align-items: center;
}
.validate-hidden {
    display: none;
}
.form__label i {
    margin-right: 8px;
    height: 20px;
    width: 20px;
}

.form_input {
    width: 100%;
    padding: 5px 15px; /* Réduit le padding pour une apparence plus compacte */
    background-color: #1e3349;
    color: #ffffff;
    border: 1px solid #85c1e9;
    border-radius: 15px; /* Moins arrondi */
    outline: none;
    font-size: 0.8em;
    transition: background-color 0.3s, transform 0.3s;
}

.form_input:focus {
    background-color: #2c4a66;
    transform: scale(1.02);
}

textarea {
    height: 50px; /* Réduit la hauteur */
    resize: none;
}

.submit-btn {
    background-color: #3498db;
    color: white;
    padding: 10px; /* Taille ajustée pour plus de compacité */
    border: none;
    border-radius: 15px; /* Réduit les coins arrondis */
    font-size: 0.8em;
    cursor: pointer;
    transition: background-color 0.3s;
}

.submit-btn:hover {
    background-color: #2980b9;
}

/* Style pour le champ d'importation d'image */
.form__row_img[type="file"] {
    display: block;
    padding: 8px;
    background-color: #1e3349;
    color: #ffffff;
    
    border-radius: 15px;
    cursor: pointer;
    outline: none;
    transition: background-color 0.3s, transform 0.3s;
}

.form__row_img[type="file"]:hover {
    background-color: #2c4a66;
    transform: scale(1.02);
}

/* Style pour le champ de sélection de la note */
.form__row select.form_input {
    width: 100%;
    padding: 5px 10px;
    background-color: #1e3349;
    color: #ffffff;
    border: 1px solid #85c1e9;
    border-radius: 15px;
    outline: none;
    font-size: 0.8em;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;

}

.form__row select.form_input:focus {
    background-color: #2c4a66;
    transform: scale(1);
}

/* Style pour la ligne d'importation de fichier */
.form__row input[type="file"] {
    display: none; /* Cache l'input de fichier par défaut */
}

.form__row label[for="fileInput"], .form__row label[for="imageInput"] {
    display: flex;
    align-items: center;
    padding: 8px 10px;
    background-color: #1e3349;
    color: #ffffff;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
    font-size: 0.8em;
    

}


.form__row label[for="fileInput"]:hover, .form__row label[for="imageInput"]:hover {
    background-color: #2c4a66;
    transform: scale(1.02);


}
.form__row label[for="fileInput"] i {
    margin-right: 8px;
    font-size: 1.2em;

}

.footer_form{
    display: flex;
    gap: 10px;  
}
.footer_form .form_row-description{
    flex-grow: 1;
   
}
.footer_form .form_image{

    width: 50px;
    height: 38px;
    border: 1px solid #85c1e9;
    border-radius: 10px;
   
}

.importButtons{
    margin: 15px;
    display: flex;
    gap: 20px;
    
}
.importButtons p{
    margin-top: 10px;
}


.site-card {
    background-color: #fff;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
    margin: 20px;
    color: #333;
    display: flex;
    flex-direction: column;
    position: relative;
}

/* General Card Style */
.site-card {
    background-color: #fff;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
    width: 100%;
    margin: 5px auto;
    color: #333;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.flex-card {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr; /* L'image est plus petite, ajuster la colonne */
    gap: 10px;
    align-items: center; /* Centrer les éléments dans le conteneur */
}
.list-card{
    grid-column-start: 2;
    grid-column-end: 4;
    list-style: none;
    text-align: left;
    height: 110px;
}
.description-card{
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 35ch;
    padding: 0;
    
}
.image-card {
    grid-column: 1;
    width: 120px; /* Diminuer la taille de l'image */
    height: 100px;
    border-radius: 5px; /* Ajouter des bords arrondis à l'image */
}

.content {
    padding: 5px 8px;
    text-align: left;

    display: flex;
    flex-direction: column;
}

.site-name {
    font-size: 1.3rem;
    font-weight: bold;
    margin: 0 auto;
    
}

.site-name i {
    margin-right: 5px;
}

.detail, .location, .note {
    font-size: 0.8rem;
    font-weight: bold;
    color: #555;
    margin: 5px auto;
    
    
}

.location i, .note i {
    margin-right: 10px;
    margin-left: 5px;
    height: 8px;
    width: 10px;
    
}

.detail img {
    height: 20px;
    width: 20px;
}
.detail i {
    color: #3498db;
    margin-right: 5px; 
}

/* Actions Section */
.actions {
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 40px;
    border-top: 1px solid #ddd;
    background-color: #3498db; /* Fond bleu pour la section des actions */
}

.action-btn {
    background: none;
    border: none;
    width: 100%;
    padding: 5px 0;
    cursor: pointer;
    font-size: 1.2rem;
    color: #fff; /* Icônes blanches pour un bon contraste */
    transition: transform 0.3s ease, color 0.3s ease;
}

.action-btn:hover {
    transform: scale(1.1); /* Légère augmentation au survol */
    
}

.delete-btn {
    color: #fff; /* Couleur de l'icône du bouton supprimer */
}

.export-btn {
    color: #fff; /* Couleur de l'icône du bouton exporter */
}
.popup-no-margin{
    margin: 0;
    padding: 0;
}
/* close_modal */

.close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
    color: #333;
    transition: color 0.3s ease;
}

.close-btn:hover {
    color: #e74c3c; /* Change to red on hover */
}

.view-sites-btn {
    margin: 10px 0;
    padding: 10px 15px;
    background-color: #3498db;  /* Changement de couleur */
    color: white;  /* Pour que le texte soit visible sur le fond bleu */
    border: none;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.view-sites-btn:hover {
    background-color: #2980b9;  /* Couleur légèrement plus foncée au survol */
}

/* Conteneur de la barre de recherche */
.search-container {
    position: absolute;
    top: 0px; /* Position au-dessus de la carte */
    left: 500px; /* Positionné près du sidebar, à gauche */
    z-index: 1000; /* Assurer qu'il soit au-dessus de la carte */
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 5px;
    cursor: progress;
    z-index: 1000;
    margin: 10px;
    
}

/* Style de la barre de recherche */
.search-bar {
    width: 300px;
    padding: 10px;
    font-size: 16px;
    border: 2px solid #ccc;
    border-radius: 20px; /* Pour un effet arrondi */
    outline: none;
    transition: border-color 0.3s;
}

/* Effet au focus pour la barre de recherche */
.search-bar:focus {
    border-color: #3498db; /* Couleur de bordure au focus */
}

/* Style du bouton de recherche */
.search-btn {
    background-color: #3498db; /* Couleur de fond du bouton */
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 50%;
    cursor: pointer;
    font-size: 18px;
    transition: background-color 0.3s;
}

/* Changement de couleur au survol du bouton */
.search-btn:hover {
    background-color: #2980b9;
}

/* Icône dans le bouton */
.search-btn i {
    font-size: 16px;
}

/* gerez le style du render form ...*/
#map {
    flex: 1;
    background: #FFFFFF;
    height: 100%;
}
